@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins';
	overflow-x: hidden;
}
body {
	overflow-y: hidden;
}

.iframe-lp {
	width: 560px;
	height: 310px;
	border-radius: 20px;
	box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.32);
}

.iframe-testmonial {
	width: 500px;
	height: 260px;
	border-radius: 20px;
	box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.32);
}

@media (max-width: 767px) {
	.iframe-lp {
		width: 360px;
		height: 180px;
	}

	.iframe-testmonial {
		width: 400px;
		height: 220px;
	}
}
